@font-face {
  font-family: "Tangerine";
  src: url("/fonts/Tangerine-Regular.ttf");
}

@font-face {
  font-family: "Vidaloka";
  src: url("/fonts/Vidalaka-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-Regular.ttf");
}

.roboto {
  font-family: "Roboto-Slab", serif;
}

.tangerine {
  font-family: "Trangerine", cursive, serif;
}

.vidaloka {
  font-family: "Vidaloka", serif;
}
