/** @type {import('eslint').Linter.Config} */
{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier"
  ],
  "rules": {
    "eqeqeq": "warn",
    "no-unneeded-ternary": "error",
    "no-nested-ternary": "error"
  }
}
