.product-grid .mantine-Carousel-controls {
  top: -54px;
}
.product-grid .mantine-Carousel-indicators {
  bottom: -24px;
}

.product-grid .addToCart,
.product-grid .product-link {
  text-decoration: none;
}
.product-grid .product-link {
  color: inherit;
}

.product-grid div.crossFade {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.product-grid div.crossFade img {
  position: absolute;
  transition: opacity 1s ease-out;
  border-radius: 8px;
}

.product-grid div.crossFade img.top {
  z-index: 1;
  width: 200px;
  height: 300px;
}

.product-grid div.crossFade img.bottom {
  z-index: 0;
  width: 200px;
  height: 300px;
}

body.light .product-grid .product-slider-card {
  border: 1px solid var(--mantine-color-gray-3);
}

body.light .product-grid .mantine-Carousel-indicator {
  background-color: var(--mantine-color-gray-5);
}

body.dark .product-grid .product-slider-card {
  border: 1px solid var(--mantine-color-gray-7);
}
